<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PluginManager" value="libs/PluginManager/Releases" />
	<add key="MSBuild.Tools" value="libs/MSBuild.Tools/" />
    <add key="SuperMemoAssistant.Installer" value="libs/Squirrel.Windows/" />
	<add key="SuperMemoAssistant.Packages" value="releases/nupkg/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>