<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PluginManager" value="libs/PluginManager/Releases" />
    <add key="MSBuild.Tools" value="libs/MSBuild.Tools/" />
    <add key="SuperMemoAssistant.Installer" value="libs/Squirrel.Windows/" />
    <add key="SuperMemoAssistant.Packages" value="P:\SuperMemo\SuperMemoAssistant.master.git\releases\nupkg" />
    <add key="SuperMemoAssistant-Alpha" value="https://pkgs.dev.azure.com/accounts0054/SuperMemoAssistant/_packaging/SuperMemoAssistant-Alpha/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>