<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Serilog.Fody" version="5.1.0" targetFramework="net472" />
  <package id="DeviceId" version="4.5.0" targetFramework="net472" />
  <package id="Extensions.System.IO" version="0.1.0.3" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Nito.AsyncEx" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Oop" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net472" />
  <package id="Nito.Cancellation" version="1.0.5" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.0.1" targetFramework="net472" />
  <package id="PluginManager.Interop" version="0.2.1.36" targetFramework="net472" />
  <package id="Sentry" version="2.1.0" targetFramework="net472" />
  <package id="Sentry.PlatformAbstractions" version="1.1.0" targetFramework="net472" />
  <package id="Sentry.Protocol" version="2.1.0" targetFramework="net472" />
  <package id="Sentry.Serilog" version="2.1.0" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Exceptions" version="5.4.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Async" version="1.4.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net472" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net472" />
  <package id="SuperMemoAssistant.Interop" version="2.0.3.32" targetFramework="net472" />
  <package id="SuperMemoAssistant.mshtml" version="7.0.3300.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.8.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
</packages>