<?xml version="1.0" encoding="utf-8"?>
<plugins>
  <plugin id="Anotar.Serilog.Fody" version="4.6.7" targetFramework="net471" />
  <plugin id="EasyHook" version="2.7.6789" targetFramework="net471" />
  <plugin id="FlaUI.Core" version="2.0.0-rc1" targetFramework="net471" />
  <plugin id="FlaUI.UIA3" version="2.0.0-rc1" targetFramework="net471" />
  <plugin id="Fody" version="3.3.5" targetFramework="net471" developmentDependency="true" />
  <plugin id="JetBrains.Annotations" version="2018.3.0" targetFramework="net471" />
  <plugin id="LoadAssembliesOnStartup.Fody" version="2.1.0" targetFramework="net471" />
  <plugin id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <plugin id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <plugin id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <plugin id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net471" />
  <plugin id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <plugin id="NuGet.Commands" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Common" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Configuration" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Credentials" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.DependencyResolver.Core" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Frameworks" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.LibraryModel" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.PluginManagement" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Packaging" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Packaging.Core" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.ProjectModel" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Protocol" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Resolver" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="NuGet.Versioning" version="5.0.0-preview2.5782" targetFramework="net472" />
  <plugin id="PropertyChanged.Fody" version="2.6.0" targetFramework="net471" />
  <plugin id="Serilog" version="2.8.0" targetFramework="net471" />
  <plugin id="Visualize.Fody" version="1.1.4" targetFramework="net471" />
</plugins>