<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Serilog.Fody" version="4.6.7" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Fody" version="4.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="ModuleInit.Fody" version="1.9.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Visualize.Fody" version="1.1.4" targetFramework="net472" />
</packages>