[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.ca1031.severity=suggestion

# CA1062: Validate arguments of public methods
dotnet_diagnostic.ca1062.severity=suggestion

# ReSharper properties
resharper_blank_lines_between_using_groups=0

# Microsoft .NET properties
dotnet_style_qualification_for_event=false:none
dotnet_style_qualification_for_field=false:none
dotnet_style_qualification_for_method=false:none
dotnet_style_qualification_for_property=false:none

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=space
indent_size=2
tab_width=4

[*.{asax,ascx,aspx,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb}]
indent_style=space
indent_size=2
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

# Standard properties
end_of_line=native

# Microsoft .NET properties
csharp_indent_braces=false
csharp_indent_switch_labels=true
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true
csharp_preferred_modifier_order=public, internal, protected, private, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks=true
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_using_directive_placement=inside_namespace:silent
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=all_upper_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.severity=warning
dotnet_naming_rule.event_rule.style=upper_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.interfaces_rule.severity=warning
dotnet_naming_rule.interfaces_rule.style=i_upper_camel_case_style
dotnet_naming_rule.interfaces_rule.symbols=interfaces_symbols
dotnet_naming_rule.locals_rule.severity=warning
dotnet_naming_rule.locals_rule.style=lower_camel_case_style_1
dotnet_naming_rule.locals_rule.symbols=locals_symbols
dotnet_naming_rule.local_constants_rule.severity=warning
dotnet_naming_rule.local_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.local_functions_rule.severity=warning
dotnet_naming_rule.local_functions_rule.style=upper_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols=local_functions_symbols
dotnet_naming_rule.method_rule.severity=warning
dotnet_naming_rule.method_rule.style=upper_camel_case_style
dotnet_naming_rule.method_rule.symbols=method_symbols
dotnet_naming_rule.parameters_rule.severity=warning
dotnet_naming_rule.parameters_rule.style=lower_camel_case_style_1
dotnet_naming_rule.parameters_rule.symbols=parameters_symbols
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.property_rule.severity=warning
dotnet_naming_rule.property_rule.style=upper_camel_case_style
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.severity=warning
dotnet_naming_rule.types_and_namespaces_rule.style=upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols=types_and_namespaces_symbols
dotnet_naming_rule.type_parameters_rule.severity=warning
dotnet_naming_rule.type_parameters_rule.style=t_upper_camel_case_style
dotnet_naming_rule.type_parameters_rule.symbols=type_parameters_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_style.i_upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix=I
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.lower_camel_case_style_1.capitalization=camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix=T
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.interfaces_symbols.applicable_kinds=interface
dotnet_naming_symbols.locals_symbols.applicable_accessibilities=*
dotnet_naming_symbols.locals_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_functions_symbols.applicable_kinds=local_function
dotnet_naming_symbols.method_symbols.applicable_accessibilities=*
dotnet_naming_symbols.method_symbols.applicable_kinds=method
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities=*
dotnet_naming_symbols.parameters_symbols.applicable_kinds=parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds=namespace,class,struct,enum,delegate
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities=*
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds=type_parameter
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:none
dotnet_style_qualification_for_field=true:none
dotnet_style_qualification_for_method=true:none
dotnet_style_qualification_for_property=true:none
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

[*]
# ReSharper properties
resharper_align_multiline_array_and_object_initializer=false
resharper_blank_lines_between_using_groups=0
resharper_csharp_align_multiline_expression=false
resharper_csharp_indent_size=2
resharper_csharp_use_indent_from_vs=false
resharper_int_align_binary_expressions=true
resharper_int_align_switch_expressions=true
resharper_xmldoc_indent_size=2
resharper_xmldoc_linebreaks_inside_tags_for_elements_longer_than=100
resharper_xmldoc_max_line_length=120
resharper_xmldoc_space_after_last_pi_attribute=true
resharper_xmldoc_use_indent_from_vs=false
resharper_xmldoc_wrap_tags_and_pi=false


[*.{cs,xaml,xamlx,xoml}]
indent_style=space
indent_size=2
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,axml,build,c,c++,cc,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hpp,htm,html,hxx,inc,inl,ino,ipp,js,json,jsproj,jsx,lsproj,master,mpp,njsproj,nuspec,proj,props,proto,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,tpp,ts,tsx,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=2
tab_width=2
