<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="EasyHook" version="2.7.7097" targetFramework="net472" />
  <package id="Extensions.System.IO" version="0.1.0.3" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Sentry" version="2.1.0" targetFramework="net472" />
  <package id="Sentry.PlatformAbstractions" version="1.1.0" targetFramework="net472" />
  <package id="Sentry.Protocol" version="2.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
</packages>