<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Serilog.Fody" version="4.6.7" targetFramework="net471" />
  <package id="Ben.Demystifier" version="0.1.3" targetFramework="net471" />
  <package id="Fody" version="3.3.3" targetFramework="net471" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.4" targetFramework="net471" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net471" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net471" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net471" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net471" />
</packages>